* {
  box-sizing: border-box;
}

h1,
footer {
  text-align: center;
}


.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

a {
  text-decoration: none;
  margin: 10px 0;
}

p {
  line-height: 1.2;
}

li {
  line-height: 2;
}

.grid-container {
  margin: 0px auto 0;
  width: 80%;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(1fr, 500px);
  grid-template-areas:
    "image description"
    "ingredients steps";
  grid-gap: 20px;
}

.finished-product {
  grid-area: image;
}

.description,
.steps {
  max-width: 700px;
}

.description {
  grid-area: description;
  border-bottom: 5px solid black;
}

.ingredients {
  padding: 0 20px;
  grid-area: ingredients;
  background-color: #FAFAFA;
}

.steps {
  grid-area: steps;
}

footer a {
  font-weight: 900;
}


@media (max-width: 800px) {
  .grid-container {
    grid-template-areas:
      "description description"
      "image image"
      "ingredients ingredients"
      "steps steps";
  }

  .description {
    border: none;
  }

  img {
    margin: 0 auto;
  }
}