h1,
footer {
  text-align: center;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

a {
  text-decoration: none;
  margin-top: 10px;
}

p {
  line-height: 1.2;
}

li {
  line-height: 2;
}

.grid-container {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(1, 1fr 2fr);
  grid-template-areas:
    "image description"
    "ingredients steps";
  grid-template-columns: 300px 700px;
  grid-gap: 50px;
}

.finished-product {
  grid-area: image;
}

.description,
.ingredients,
.steps {
  padding: 0 20px;
}


.description {
  grid-area: description;
  border-bottom: 10px solid black;
}

.ingredients {
  grid-area: ingredients;
  background-color: #FAFAFA;
}

.steps {
  grid-area: steps;
}

footer a {
  font-weight: 900;
}